{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "Hackerlog API",
  "author": "Hackerlog",
  "license": "Unlicense",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts" : {
    "build": "tsc --outDir ../"
  },
  "devDependencies": {
    "@types/node": "^8.0.9",
    "typescript": "^2.0"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}
